<section class="" id="section-{{ section.id }}" data-section-id="{{ section.id }}">
  <div class="custom-testimonial">    
    <div id="section-{{ section.id }}" class="Testimonial">
      <div class="Container">
        {%- if section.settings.quote != blank -%}
          <div class="testimonial-content">
            {{ section.settings.quote }}
            <p class="author-name">- {{ section.settings.author }}</p>
          </div>
        {%- endif -%}
        {%- if section.settings.atc_title != blank -%}
          <div class="schedule-button">
            <a class="atc-button" href="{{ section.settings.atc_link }}">
              {{ section.settings.atc_title }}
            </a>            
          </div>
        {%- endif -%}

        {%- if section.settings.background_image != blank -%}
          <img class="left-side-image" src="{{ section.settings.background_image | img_url: '900x' }}" alt="{{ section.settings.background_image.alt | escape }}">
        {%- endif -%}
      </div>
    </div>    
  </div>
</section>

{% schema %}
{
  "name": "Testimonials",
  "class": "custom-testimonial-section",
  "settings": [    
    {
      "type": "richtext",
      "id": "quote",
      "label": "Quote",
      "default": "<p>Share what your customers are saying about your products, your company...</p>",
      "info": "For best results, keep the word count consistent in each quote."
    },
    {
      "type": "text",
      "id": "author",
      "label":"Author",
      "default": "Geoffrey"
    },
    {
      "type": "text",
      "id": "atc_title",
      "label": "ATC Button Title",
      "default": "Schedule a demo"
    },
    {
      "type": "url",
      "id": "atc_link",
      "label": "Button link"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Left Side Image"
    }
  ],  
  "presets": [
    {
      "category": "Text",
      "name": "Custom Testimonials"
    }
  ]
}
{% endschema %}