<div class="page-width">
  {% if section.settings.title != blank %}
    <div class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
    </div>
  {% endif %}

  <div class="grid {% unless section.blocks.size == 5 %}grid--uniform{% endunless %} grid--flush-bottom">
    {%- assign grid_item_width = 'medium-up--one-third' -%}
    {%- assign max_height = 345 -%}
    {% case section.blocks.size %}
      {% when 1 %}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
        {%- assign max_height = 530 -%}
      {% when 2 %}
        {%- assign grid_item_width = 'medium-up--one-half' -%}
        {%- assign max_height = 530 -%}
      {% when 4 %}
        {%- assign grid_item_width = 'medium-up--one-quarter' -%}
        {%- assign max_height = 530 -%}
    {% endcase %}
    {% for block in section.blocks %}
      {% if section.blocks.size == 5 and forloop.index < 3 %}
        {%- assign column_width = 'medium-up--one-half' -%}
        {%- assign max_height = 530 -%}
      {% else %}
        {%- assign column_width = grid_item_width -%}
      {% endif %}
      <div class="grid__item {{ column_width }} block-{{ forloop.index }}">
        {% if block.settings.enable_image %}
          {% if block.settings.image != blank %}
            {% capture img_id %}TextColumnImage-{{ block.id }}{% endcapture %}
            {% capture wrapper_id %}TextColumnImageWrapper-{{ block.id }}{% endcapture %}
            {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <div id="{{ wrapper_id }}" class="feature-row__image-wrapper js" data-aspect="{{ block.settings.image.aspect_ratio }}"> 
              {% comment %}
              {% if forloop.index == 2 %}
              <img src="{{ block.settings.image | img_url: '170x' }}">
              {% else %}
              <img src="{{ block.settings.image | img_url: '100x' }}">
              {% endif %}
              {% endcomment %}
              {% if forloop.index == 1 %}
                <img src="{{ 'Icons-09.svg' | asset_url }}" style="width: 100px">
              {% elsif forloop.index == 2 %}
                <img src="{{ 'Icons-08.svg' | asset_url }}" style="width: 120px">
              {% elsif forloop.index == 3 %}
                <img src="{{ 'Icons-10.svg' | asset_url }}" style="width: 100px">
              {% else %}
                <img src="{{ 'Icons-06.svg' | asset_url }}" style="width: 100px">
              {% endif %}
            </div>
            <noscript>
              <p>
                {{ block.settings.image | img_url: '480x480', scale: 2 | img_tag: block.settings.image.alt, 'feature-row__image' }}
              </p>
            </noscript>
          {% else %}
            <p>
              {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
            </p>
          {% endif %}
        {% endif %}
        {% if block.settings.title != blank %}
          <h3 class="h4">{{ block.settings.title | escape }}</h3>
        {% endif %}
        {% if block.settings.text != blank %}
          <div class="rte-setting">{{ block.settings.text }}</div>
        {% endif %}

        {% if block.settings.button_label != blank and block.settings.button_link != blank %}
          {%- capture ariaLabel -%}
            {{- block.settings.button_label -}}
            {%- if block.settings.button_link.type == 'frontpage_link' -%}
              : {{ 'homepage.general.title' | t -}}
            {%- elsif block.settings.button_link.type == 'catalog_link' -%}
              : {{ 'collections.catalog.title' | t -}}
            {%- elsif block.settings.button_link.object.title -%}
              : {{ block.settings.button_link.object.title -}}
            {%- endif -%}
          {%- endcapture -%}

          <a href="{{ block.settings.button_link }}"
            class="btn btn--secondary btn--small"
            aria-label="{{ ariaLabel | escape }}">
            {{- block.settings.button_label | escape -}}
          </a>
        {% endif %}
      </div>
    {% endfor %}
  </div>

  {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
  {% endif %}
</div>



{% schema %}
{
  "name": "Text columns with images",
  "class": "bottom-image-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Text columns with images"
    }    
  ],
  "blocks": [
    {
      "type": "text_block",
      "name": "Column",
      "settings": [
        {
          "type": "checkbox",
          "id": "enable_image",
          "label":"Show image",
          "default": true
        },
        {
          "type": "image_picker",
          "id": "image",
          "label":"Image"
        },
        {
          "type": "text",
          "id": "title",
          "label":"Heading",
          "default": "Add a title or tagline"
        },
        {
          "type": "richtext",
          "id": "text",
          "label":"Text",
          "default": "<p>Share blog posts, products, or promotions with your customers. Use this text to describe products, share details on availability and style, or as a space to display recent reviews or FAQs.</p>"
        },  
        {
          "type": "text",
          "id": "button_label",
          "label":"Button label"
        },
        {
          "type": "url",
          "id": "button_link",
          "label":"Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with bottom text",
      "category": "Image",
      "blocks": [
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        },
        {
          "type": "text_block"
        }
      ]
    }
  ]
}
{% endschema %}
